@mixin btn-hide($content) {
    display: inline-block;
    width: $btn-hide-width;
    padding: 1rem;

    font-size: 2rem;
    text-align: center;


    position: relative;

    &:hover {
        &::after {
            content: "";
            width: 0%;
            color: transparent;
        }
    }

    &::after {
        content: $content;

        display: inline-block;
        width: $btn-hide-width;
        height: 0.3667 * $btn-hide-width;
        padding-top: 1rem;

        position: absolute;
        top: 0;
        left: 0;

        background-color: $color-primary;
        color: $color-secondary;

        transition: all .5s;
    }
}

.btn-shadow {

    &,
    &:link,
    &:visited {
        display: inline-block;
        position: relative;
        padding: 1.5rem 3rem;

        font-size: $regular-text-size;
        text-transform: uppercase;

        border-radius: 2.5rem;

        transition: all .2s;

        cursor: pointer;
    }

    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 3rem rgba($color-primary, 0.1);
    }

    &:active {
        transform: translateY(0);
        box-shadow: 0 .5rem 3rem rgba($color-primary, 0.1);
    }

}

.btn-scale {
    
    &,
    &:link,
    &:visited {
        display: inline-block;
        position: relative;

        font-size: 4rem;
    
        transition: all .2s;

        cursor: pointer;
    }

    &:hover {
        transform: scale(1.2);
    }

    &:active {
        transform: scale(1);
    }
}