.navigation {
    position: fixed;
    bottom: 10rem;
    right: 20rem;
    z-index: 100;

    &__list {
        position: relative;
    }

    &__item {
        position: absolute;
        top: 0;

        &:not(:first-child) {
            left: 20rem;
        }
    }

    &__item:has(&__select) {
        display: none;
    }

    &__item:has(&__select) + &__item &__link {
        transition: all .5s 1s;
        
        opacity: 1;
        transform: translateX(-20rem);
    }

    &__link {

        &:link,
        &:visited {
            color: $color-primary;
            text-transform: uppercase;
            border: 1px solid $color-primary;
        }

        @include fadeUp(1.5rem, 2.25s);

        &--1 {
            @include btn-hide("About Me");
        }

        &--2 {
            @include btn-hide("Projects");
        }

        &--3 {
            @include btn-hide("Services");
        }

        &--4 {
            @include btn-hide("End");
        }
    }

}