// HEADER COLOURS

$header-color-primary: #000;
$header-color-secondary: #FFF;
$header-color-tertiary: #E2E2E2;


// GENERAL COLOURS

$ligth-green-color: #50C878;
$light-orange-color: #FF5E0E;
$dark-orange-color: #FF8C00;


// TEXT SIZE

$regular-text-size: 1.6rem;


// GRID

$grid-width: 114rem;
$grid-gutter-vertical: 8rem;
$grid-gutter-horizontal: 6rem;


// BUTTON

$btn-hide-width: 15rem;