/* CSS RESET */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;

    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 10 px ~ 1 rem

    
    @include screen(tablet_landscape) {
        font-size: 56.25%; // 9 px
    }

    @include screen(tablet_portrait) {
        font-size: 50%; // 8 px
    }

    @include screen(phone) {
        font-size: 40.625%; // 6 px
    }
}

body {
    box-sizing: border-box;
    background-color: $color-tertiary;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* RESET BUTTON */

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    color: inherit;
    font: inherit;

    line-height: normal;

    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    -webkit-appearance: none;
}

.container {
    overflow-x: hidden;
}