/* CSS RESET */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;

    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 10 px ~ 1 rem
}

body {
    box-sizing: border-box;
    background-color: $color-tertiary;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* RESET BUTTON */

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    color: inherit;
    font: inherit;

    line-height: normal;

    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    -webkit-appearance: none;
}

.container {}